@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --bg-1: #292929;
    --bg-2: #45f3ff;
    --bg-3: #ff3c7b;
    --color-one: #14191E;
    --color-three: #f16565;
    --color-text: #bbbbbb;
    --font: "JetBrains Mono", monospace;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    color: var(--color-text);
    font-size: 1.1rem;
    line-height: 1.2;
}

a:hover {
    text-decoration: none;
}